<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">{{ _product?.Name }}</div>
                <div class="card-body">
                <h5 class="card-title">{{ _product?.Name }}</h5>
                <p class="card-text">{{ _product?.PriceFormatted }}</p>
                <a routerLink="/products" class="btn btn-primary">Back to products</a>
                </div>
            </div>
        </div>
    </div>
</div>